<h4>Sign Up</h4>
<form #signUp="ngForm"(ngSubmit)="onSubmit()">
   <div>
     Email: <input [(ngModel)]= "email"
                               name="email"> 
   </div>
   <br>
   <div>
     Password: <input [(ngModel)]= "password"
                               name="password"> 
     </div>
     <br><br>
     <div *ngIf="isLogIn()">
           <button mat-raised-button color="primary" (click)=logout()>Logout</button>
          </div>
       <button mat-raised-button color="primary" [disabled]>Sign Up</button>
   </form>