<br>
<!--<div ng-controller="savePost">
  <button mat-raised-button color="primary" (click)="saveData()">Save to firestore</button>
  <p>{{secAuction}}</p>
</div>-->
<button mat-raised-button color="primary" [routerLink]="['/postsForm']">Add New Post</button>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of tempData$| async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <mat-panel-title>Post's Body:
        <br>
      {{post.body}} 
      </mat-panel-title>
      <mat-panel-title>Post's Author:
        <br>
      {{post.author}} 
      </mat-panel-title>
      <!--
      <div *ngFor = "let user of user$"> 
              <div *ngIf = "user.id == post.userId">
                <p>Author {{user.name}}</p>
              </div>
            </div>  -->
            <button mat-raised-button color="primary" [routerLink]="'/postsForm/' + post.id">
              Edit Post
              </button>
            <button mat-raised-button color="warn" (click)=deletePost(post.id)>
              Delete Post
             </button>
             &nbsp;
    </mat-expansion-panel>
  </mat-accordion>