<h4>Sign Up</h4>
<form #login="ngForm"(ngSubmit)="onSubmit()">
   <div>
     Email: <input [(ngModel)]= "email"
                               name="email"> 
   </div>
   <br>
   <div>
     Password: <input [(ngModel)]= "password"
                               name="password"> 
     </div>
     <br><br>
       <button mat-raised-button color="primary" [disabled]>Log In</button>
   </form>